{% extends 'base.html.twig' %}

{% block title %}{{ course.nameCourse }} / StudyOn {% endblock %}

{% block body %}
    <h1 class="fw-bold mb-2 mt-5 card_title">{{ course.nameCourse }}</h1>
    <p class="card_text">{{ course.descriptionCourse }}</p>

    <h1>Уроки</h1>
    <ul class="list-group">
        {% for lesson in course.lessons %}
            <li class="list-group-item">
                {{ loop.index }}. <a class="text-decoration-none m-2"
                   href="{{ path('app_lesson_show', {'id': lesson.id}) }}">{{ lesson.nameLesson }}</a>
            </li>
        {% endfor %}
    </ul>
    <hr class="mt-5">

    <div class="d-flex">
        <a href="{{ path('app_course_index') }}" type="button" class="btn btn-primary mx-1">
            <strong>К списку курсов</strong>
        </a>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <a href="{{ path('app_course_edit', {'id': course.id}) }}" type="button" class="btn btn-secondary mx-1 course-edit">
                <strong>Редактировать</strong>
            </a>
            {{ include('course/_delete_form.html.twig') }}
            <a href="{{ path('app_course_new_lesson', {'course': course.id}) }}" type="button" class="btn btn-primary mx-1 lesson-add">
                <strong>Добавить урок</strong>
            </a>
        {% endif %}
    </div>
{% endblock %}
